<div class=fr>
    <h2>
        Allspark
    </h2>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <div class="container">
            <h1>Conteudo</h1>
        </div>
    
        <div class="col-md-12" style="text-align: center">
            <input type="radio" checked id="radio-front" name="select-face"/>    
            <input type="radio" id="radio-left" name="select-face"/>
            <input type="radio" id="radio-right" name="select-face"/>
            <input type="radio" id="radio-top" name="select-face"/>
            <input type="radio" id="radio-bottom" name="select-face"/>
            <input type="radio" id="radio-back" name="select-face"/>

            <div class="separator">
                <br>
                <br>
                <br>
            </div>


            <div class="space3d">

                <div class="_3dbox">
                  <div class="_3dface _3dface--front"></div>
                  <div class="_3dface _3dface--top"></div>
                  <div class="_3dface _3dface--bottom"></div>
                  <div class="_3dface _3dface--left"></div>
                  <div class="_3dface _3dface--right"></div>
                  <div class="_3dface _3dface--back"></div>
                </div>
                
            </div>
        </div>

    </div>
</div>

